body {
    background: #FDBCB6;
}

.container {
    /* margin: 50px auto; */
    padding: 50px;
    max-width: 100%;
    width: 100%;
}

.section-card {
    background: white;
    width: 350px;
    height: 95%;
    padding: 40px;
    box-shadow: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
}

.form-control {
    height: 30px;
    width: 100%;
    font-size: 12px;
}

.form-label {
    font-size: 14px;
}

.section-actions {
    width: 100%;
    padding: 5%;
    font-size: 14px;
}

.form-check {
    display: flex;
    justify-content: left;
    align-items: center;
}

.form-check-input {
    width: 50px;
    height: 30px;
}

.form-check-label {
    margin-left: 35px;
}

.btn {
    width: 100%;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
}

.actions-btn {
    background: #81C6B9;
    width: 100%;
    border-style: none;
    height: 30px;
    cursor: pointer;
}

#content-img {
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.imagesStyle {
    width: 20px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 50px;
}

table tr:hover input {
    background: blue;
    color: white;
    font-weight: bold;
}

table tr td {
    border: 1px solid;
    text-align: center;
}

table tr th {
    border: 2px solid;
    text-align: center;
}

.hideStyle {
    border-style: none;
    background: no-repeat;
    width: 100%;
    text-align: center;
    outline: none;
}